@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">my first demo test</h1>
   <div>
       <p>telugu tutorial are very good staging</p>
       <label>gsdds</label>
        <label>@ViewData["mystring"]</label>
   </div>
  
</div>
